<div class="facebook-events clearfix">
	
	<div class="event-map" id="map" >
	
 <div ng-bind-html="google_map | unsafe"></div>

	</div>
	<div class="event-details" ng-style="{'background-image': 'linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,1)), url(' + event_background + ')'}">
		
		<div class="event-top">
			<div class="event-calendar animated flipInX delay-animation-1 clearfix">
				<h2>{{calendar_month}} <br/> {{calendar_day}}</h2>
			</div>
			<div class="event-name clearfix animated flipInX delay-animation-3">
				<h1>{{ name }}</h1>
			</div>
		</div>
		<div class="event-middle">
			<div class="event-date clearfix animated flipInX delay-animation-4">
				<i class="line-icon icon-clock-2" aria-hidden="true"></i>
				<div class="start-time-div">
					<h4>{{ starttime_text }}</h4>
					<p>{{starttime}}</p>
				</div>
				<div class="end-time-div">
					<h4>{{ endtime_text }}</h4>
					<p>{{endtime}}</p>
				</div>

			</div>
			<div class="event-location animated flipInX delay-animation-4">
				<i class="line-icon icon-marker-1"></i>
				<p>{{ place }}</p>
			</div>
		</div>
		<div class="event-bottom animated flipInX delay-animation-5">
			<p>{{description | cut:true:200:' ...' }}</p>
			<br/>
		</div>
		<div class="event-id animated flipInX delay-animation-6">
			<p>See full details at Facebook Website:</p>
			<h2>{{ fb_event_id }}</h2>
		</div>

		<div class="facebook-logo animated fadeInUp delay-animation-7">
			<h3><span>Facebook</span> Event</h3>
		</div>

	</div>

</div>

